/* Main content styling */
.main-content {
    padding: 2rem;
    background-color: #f8f8f8;
}

.monthly-offers {
    text-align: center;
}

.monthly-offers h2 {
    font-size: 2rem;
    background-color: #ddd;
    margin-bottom: 1.5rem;
    color: #333;
}

.offers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.offer .images-container {
    display: flex; /* Alinea las imágenes horizontalmente */
    justify-content: center; 
    gap: 1rem; 
    margin-bottom: 1rem; 
}

.offer {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: left;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.offer:hover {
    transform: translateY(-5px);
}

.offer img {
    width: 40%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.offer h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #0077cc;
    text-align: center;
}

.offer p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1rem;
}

.offer ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    font-size: 0.9rem;
    color: #333;
}

.offer ul li {
    margin-bottom: 0.5rem;
}
