
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    /* background-position: center; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #F2E8DF;
    height: 100px;
    border-bottom: 1px solid #ddd;
}

.logo img{
    max-width: 60%;
    height: auto;
    margin-left: 0;
    justify-content: center;
    align-items: center;
}

.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
}

.abrir-menu{
    color: #1c1c1c;
    font-size: 2.5rem;
    background-color: transparent;
    cursor: pointer;
}

.cerrar-menu{
    font-size: 2rem;
    color: #ececec;
    background-color: transparent;
    cursor: pointer;
}

.nav{
    /* opacity: 0; */
    position: absolute;
    bottom: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000000;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);  
}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list{
    flex-direction: column;
    list-style: none;
    align-items: end;
    line-height: 3;
    font-weight: bold;
}

.nav-list li a{
    text-decoration: none;
    color: #ffffff;
}

.home{
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

footer{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    /* height: auto; */
    background-color: #F2E8DF;
    padding: 1.5rem;
    /* gap: 1.5rem; */
}

.footer-section{
    margin-top: 0;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer a{
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 0px;
}

footer a:hover{
    color: #009879
}




/* Media query for tablet devices (min-width: 767px) */
@media only screen and (min-width: 767px) {

    .abrir-menu,
    .cerrar-menu {
        display: none;
    }
    
    .nav{
        /* display: block; */
        opacity: 100;
        visibility: visible;
        flex-direction: row;
        display: flex;
        background-color: #F2E8DF;
        box-shadow: none;
    }

    .nav-list{
        flex-direction: row;
        list-style: none;
        display: flex;
        gap: 1rem;     
    }

    .nav-list li a{
        text-decoration: none;
        color: #1c1c1c;
    }

    .footer-section {
        flex-direction: row; 
        justify-content: space-between;
        padding: 1em 0;
    }

}




/* Media query for desktop devices (min-width: 991px) */
@media only screen and (min-width: 991px) {
    
    .abrir-menu,
    .cerrar-menu {
        display: none;
    }

    .nav{
        /* display: block; */
        position: absolute;
        bottom: 0;
        opacity: 100;
        visibility: visible;
        flex-direction: row;
        display: flex;
        background-color: #F2E8DF;
        box-shadow: none;
        height: 100px;
        justify-content: center;
        
    }

    .nav-list{
        list-style: none;
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-bottom: 0;
        
        vertical-align: bottom;
        
    }

    .nav-list li a{
        text-decoration: none;
        color: #1c1c1c;
    }

   .footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        line-height: 1.5;
   }

    .sitemap, .contact-us, .open-hours, 
    .find-us, .follow-us{
        width: 20%;
    }

    .follow-us{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

    }

    .follow-us .social-icon{
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
    }

    .follow-us .social-icon i{
        vertical-align: middle;
    }

    footer h3{
        font-size: 18px;
    }

    footer p{
        font-size: 15px;
    }

    footer iframe{
        width: 250px;
        height: 150px;
    }

}