
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;

    /* background-position: center; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #F2E8DF;
    height: 100px;
    border-bottom: 1px solid #ddd;
}

.logo img{
    max-width: 70%;
    height: auto;
    margin-left: 0;
    justify-content: center;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
}

.nav{
    display: none;
}

/* Media query for tablet devices (min-width: 767px) */
@media only screen and (min-width: 767px) {

    .abrir-menu{
        display: none;
    }
    
    .nav{
        display: block;
    }
}

/* Media query for desktop devices (min-width: 991px) */
@media only screen and (min-width: 991px) {
    
    .abrir-menu{
        display: none;
    }

    .nav{
        display: block;
    }

}

/* .nav-bar{
    flex-grow: 1;
    text-align: right;
} */

/* .nav-bar ul{
    list-style: none;
    display: flex;
    gap: 60px;
}

.nav-bar ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
    background-color: rgb(138, 43, 226, 0.06);
}

.nav-bar ul li a.active{
    background-color: gray;
    color: white;
}

ul{
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    display: none;
    background: #F2E8DF;
    padding-top: 25px;
}

ul li{
    height: 50px;
    border-bottom: 1px solid slategray;
    width: 100%;
    list-style: none;
}

#mobile_click{
    position: absolute;
    top: 0px;
    right: 10px;
    color: black;
    font-size: 40px;
    cursor: pointer;
} */